<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="cordova-plugin-toastyplugin" version="0.0.1">
    <name>ToastyPlugin</name>
    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>
    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/jprisel/toastyplugin/Toast-PhoneGap-Plugin.git</repo>
    <issue>https://github.com/jprisel/toastyplugin/issues</issue>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/toastyplugin.js" name="toastyPlugin">
        <clobbers target="window.plugins.toastyPlugin" />
    </js-module>
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastyPlugin">
                <param name="android-package" value="com.stanleyidesis.cordova.plugin.ToastyPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        
        
        
        <config-file  target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="New Activity" android:name="com.stanleyidesis.cordova.plugin.NewActivity" android:launchMode="singleInstance">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:host="loqr.io" android:pathPrefix="/demo" android:scheme="https" />
                </intent-filter>
            </activity>
        </config-file>
        
        
        
        
        <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
        <source-file src="src/android/NewActivity.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
        <framework src="src/android/loqr.gradle" custom="true" type="gradleReference" />
        
        <resource-file src="res/android/layout/capture_test.xml" target="res/layout/capture_test.xml" />
        <resource-file src="res/android/layout/activity_new.xml" target="res/layout/activity_new.xml" />
        
        <resource-file src="src/android/libs/LoqrCMSDK.aar" target="libs/LoqrCMSDK.aar" />
        <resource-file src="src/android/libs/LoqrOMSDK.aar" target="libs/LoqrOMSDK.aar" />
        <resource-file src="src/android/libs/LoqrDAMSDK.aar" target="libs/LoqrDAMSDK.aar" />
        <resource-file src="src/android/libs/document-api-2.0.2.aar" target="libs/document-api-2.0.2.aar" />
        <resource-file src="src/android/libs/document-reader-1.1.073.aar" target="libs/document-reader-1.1.073.aar" />
        <resource-file src="src/android/assets/LoqrConfig" target="assets/LoqrConfig" />
    </platform>
</plugin>